<?xml version="1.0" ?>
<!-- 
/**
 * Ultimate_ModuleCreator extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE_UMC.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category   	Ultimate
 * @package		Ultimate_ModuleCreator
 * @copyright  	Copyright (c) 2012
 * @license		http://opensource.org/licenses/mit-license.php MIT License
 */ 
/**
 * @category	Ultimate
 * @package		Ultimate_ModuleCreator
 * @author 		Marius Strajeru <marius.strajeru@gmail.com>
 */  
 -->
<config>
	<modules>
		<Ultimate_ModuleCreator>
			<version>1.6.3.1</version>
		</Ultimate_ModuleCreator>
	</modules>
	<global>
		<blocks>
			<modulecreator>
				<class>Ultimate_ModuleCreator_Block</class>
			</modulecreator>
		</blocks>
		<helpers>
			<modulecreator>
				<class>Ultimate_ModuleCreator_Helper</class>
			</modulecreator>
		</helpers>
		<models>
			<modulecreator>
				<class>Ultimate_ModuleCreator_Model</class>
			</modulecreator>
		</models>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Ultimate_ModuleCreator>
					<files>
						<default>Ultimate_ModuleCreator.csv</default>
					</files>
				</Ultimate_ModuleCreator>
			</modules>
		</translate>
		<layout>
			<updates>
				<ultimate_modulecreator>
					<file>ultimate_modulecreator.xml</file>
				</ultimate_modulecreator>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Ultimate_ModuleCreator before="Mage_Adminhtml">Ultimate_ModuleCreator_Adminhtml</Ultimate_ModuleCreator>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<modulecreator>
			<settings>
				<namespace>Ultimate</namespace>
				<codepool>local</codepool>
				<install>0</install>
				<license><![CDATA[
{{Namespace}}_{{Module}} extension

NOTICE OF LICENSE

This source file is subject to the MIT License
that is bundled with this package in the file LICENSE.txt.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/mit-license.php

@category   	{{Namespace}}
@package		{{Namespace}}_{{Module}}
@copyright  	Copyright (c) {{Y}}
@license		http://opensource.org/licenses/mit-license.php MIT License
]]></license>
				<use_ddl>1</use_ddl>	
			</settings>
			<entity_defaults>
				<use_frontend>1</use_frontend>
				<frontend_list>1</frontend_list>
				<frontend_view>1</frontend_view>
				<frontend_list_template>page/2columns-left.phtml</frontend_list_template>
				<frontend_view_template>page/2columns-left.phtml</frontend_view_template>
				<frontend_add_seo>1</frontend_add_seo>
				<created_to_grid>1</created_to_grid>
				<updated_to_grid>1</updated_to_grid>
				<create_api>0</create_api>
				<add_status>1</add_status>
				<rss>1</rss>
				<widget>1</widget>
				<link_product>1</link_product>
				<show_on_product>1</show_on_product>
				<show_products>1</show_products>
				<is_tree>0</is_tree>
				<url_rewrite>1</url_rewrite>
			</entity_defaults>
			<release>
				<beta>0</beta>
			</release>
		</modulecreator>
	</default>
</config>